:root {
    /* dark shades of primary color*/
    --clr-white-1: #FFF;
    --clr-green-1: #557c3e;
    --clr-yellow-1: #f6b319;
    --clr-red-1: #61122f;
    /* primary/main color */
    --ff-primary: "Oxygen", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --radius: 0.5rem;
    --font-size: 16px;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

body {
    font-size: var(--font-size);
    background-color: var(--clr-red-1);
    color: var(--clr-white-1);
    font-family: var(--ff-primary);
}